:root {
  --primaryColor: #0049e6;
  --secondaryColor: #7F6FE8;
  --green: #39FF14;
  --white: #FAF5EF;
  --chatBlue: #012169;
  --red: #FF7F7F;
  --gray: #3B444B;
  
} 

* {
  font-weight: 400;
  color: white;
  scrollbar-color: var(--gray);
  scrollbar-width: thin;
  scroll-padding: 5px;
}

body, html, #app {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
}

@font-face {
  font-family: 'Quicksand';
  src: url(./staticQuicksand/Quicksand-Light.ttf); 
  font-weight: 300;
}

@font-face {
  font-family: 'Quicksand';
  src: url(./staticQuicksand/Quicksand-Regular.ttf); 
  font-weight: 400;
}

@font-face {
  font-family: 'Quicksand';
  src: url(./staticQuicksand/Quicksand-Medium.ttf); 
  font-weight: 500;
}

@font-face {
  font-family: 'Quicksand';
  src: url(./staticQuicksand/Quicksand-SemiBold.ttf); 
  font-weight: 600;
}

@font-face {
  font-family: 'Quicksand';
  src: url(./staticQuicksand/Quicksand-Bold.ttf); 
  font-weight: 700;
}